button.tooltips {
    position: relative;
    display: inline;
    text-decoration: none;
  }
  button.tooltips p {
    position: absolute;
    /*width:155px;*/
    width:80px;
    color: #FFFFFF;
    background: #000000;
    height: 25px;
    line-height: 25px;
    text-align: center;
    visibility: hidden;
    border-radius: 5px;
  }
  button.tooltips p:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  button:hover.tooltips p {
    visibility: visible;
    opacity: 1;
    bottom: 10px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
  }
  
  button.tooltips-edit {
    position: relative;
    display: inline;
    text-decoration: none;
  }
  button.tooltips-edit p {
    position: absolute;
    width:100px;
    color: #FFFFFF;
    background: #000000;
    height: 25px;
    line-height: 25px;
    text-align: center;
    visibility: hidden;
    border-radius: 5px;
  }
  button.tooltips-edit p:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  button:hover.tooltips-edit p {
    visibility: visible;
    opacity: 1;
    bottom: 10px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
  }